* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f3f6;
}

.pagina-Varestado{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 440px;

  background-color: white;

  padding: 25px 18px;

  border-radius: 3px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.container h2 {
  font-size: 15px;
  color: #333;

  margin-bottom: 25px;
}

.container p {
  font-size: 11px;
  line-height: 1.4;

  color: #222;

  margin-bottom: 10px;
}

.container input[type="text"],
.container select {
  display: block;

  width: 177px;
  height: 25px;

  margin-bottom: 8px;

  padding: 5px;

  border: 1px solid #ddd;

  font-size: 11px;
}

.opcoes {
  display: flex;
  flex-direction: column;

  gap: 5px;

  margin-top: 8px;
  margin-bottom: 10px;
}

.opcoes label {
  font-size: 11px;

  display: flex;
  align-items: center;
}

.opcoes input[type="radio"] {
  margin-right: 4px;
}

button {
  background-color: #087ee8;

  color: white;

  border: none;

  padding: 7px 13px;

  font-size: 11px;

  cursor: pointer;
}

button:hover {
  background-color: #066dcc;
}
