.ex01{
    background-color:{corFundo};
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 

    .section{

        min-width: 400px;
        background-color: aliceblue;
        padding: 10px;
        border-radius: 3px;
        margin: 15px;
        
    }

    input{
          width: 20%;
          padding: 15px;
          box-shadow: 0 0 0 3px rgba(92, 110, 148, 0.15);
          height: 30px;
          outline: none;
          border-radius: 8px;
        
            
            }
            
            
            
        .check{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: rgb(140, 151, 208);

                input[type="checkbox"]{
                    width: auto;
                    height: auto;
                    padding: 3px;

                }


    }

    .b{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        color: black;
    }

    .c{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        .inputs{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }

        input{
            width: 100px;
        }
    }
}