.pagina-contato{
  background-color: aqua;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;




  section{
    width: 300px;
    background-color: rgb(248, 237, 237);
  }

  input,select{
    width: 50%;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(202, 190, 190);
    box-sizing: border-box;
    padding: 5px;
    font-size: 10px;
  }
}